@import url('https://fonts.googleapis.com/css?family=Neuton:800|Roboto+Mono:300,300i,400');
@import '../../font-awesome/scss/font-awesome.scss';

body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Neuton', serif;
  line-height: 1.8rem;
  font-size: 1.1rem;
}
//==========================================
//==========================================
// TEXT MODIFIERS:
// see individual partials for standard styling.
//==========================================
//==========================================
.title--uppercase, .subtitle--uppercase, .text--uppercase {
  text-transform: uppercase;
}
.title--faded, .subtitle--faded, .text--faded {
  color: $faded;
}
.title--uppercase-faded, .subtitle--uppercase-faded, .text--uppercase-faded {
  color: $faded;
  text-transform: uppercase;
}

//==========================================
//==========================================
// Default fonts
//==========================================
//==========================================
body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Neuton', serif;
}
