{# @Component
name: Header
group: Layout
description: Site header with branding and menu.
samples:
  # This is where we define variants.  Variants are sets of values used
  # for the variables in the template.
  Standard:
    classes: 'region region-header'
    contents:
      - ~sample('@components/site-branding.twig#Standard')
      - ~sample('@components/menu.twig#Main')
#}
<div class="{{classes}}">
  {{content}}
</div>
