//taxonomy term project overrides.
.field--name-field-skills {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  .field__items {
    display: flex;
    flex-wrap: wrap;
    .field__item {
      &:after {
        content:',\00a0';
      }
    }
    .field__item:last-child {
      &:after {
        content: '';
      }
    }
  }
}
.field--name-field-skills.field--label-hidden {
  flex-direction: row;
}
