.node--type-article.node--view-mode-teaser {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  @media(min-width: $bp--sm) {
    flex-direction: row;
  }
  .field--name-field-image {
    flex-basis: 100px;
    max-width: 100px;
    padding-right: 20px;
    margin: auto;
    order: 1;
  }
  .node__content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 1;
    flex-basis: 95%;
    margin: 10px 0;
    h2 {
      margin: 2.5px 0;
      flex-grow: 1;
    }
    .node__meta {
      flex-grow:1;
    }
    .node__submitted {
      font-size: .9rem;
      font-style: italic;
    }
    .field--name-body {
    }
  }
}
