.site-branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  > * {
    padding-right: 10px;
  }
  img {
    width: 75px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .site-name h2, .site-slogan h3 {
    font-size: 1.1rem;
  }
  .site-name h2 {
    display: none;
  }
  .site-slogan h3 {
    display: none;
  }
  @media(min-width: 270px) {
    .site-name h2 {
      display: block;
    }
  }
  @media(min-width: $bp--lg) {
    .site-slogan h3 {
      display: block;
    }
  }
}
