{# @Component
name: Site Branding
group: Components
description: A piece of HTML text in a span element.
samples:
  # This is where we define variants.  Variants are sets of values used
  # for the variables in the template.
  Standard:
    siteName: Ryan Bateman
    siteSlogan: Full Stack Web Developer
    link: /
    image: /themes/custom/arby/images/logo.png
  Compact:
    siteName: Ryan Bateman
    link: /
    image: /themes/custom/arby/images/logo.png
  Micro:
    link: /
    image: /themes/custom/arby/images/logo.png
#}
<div class="site-branding">
  {% if image %}
    <div class="site-logo">
      <a href={{link}}>
      {% include '@base/image.twig' with {
          url: image,
          modifier: auto
      } %}
      </a>
    </div>
  {% endif %}
  {% if siteName %}
    <div class="site-name">
      <a href={{link}}>
      {% include '@base/title.twig' with {
        text: siteName,
        modifier: 'uppercase-sans'
      } %}
      </a>
    </div>
  {% endif %}
  {% if siteSlogan %}
    <div class="site-slogan">
      <a href={{link}}>
      {% include '@base/subtitle.twig' with {
        text: siteSlogan,
        modifier: 'faded'
      } %}
      </a>
    </div>
  {% endif %}
</div>
