{# @Component
name: Subtitle
group: Base
description: An HTML subtitle
samples:
  # This is where we define variants.  Variants are sets of values used
  # for the variables in the template.
  Standard:
    text: Subtitle
    modifier: standard
  Uppercase:
    text: Uppercase Subtitle
    modifier: uppercase
  Faded:
    text: Faded Subtitle
    modifier: faded
  Uppercase Faded:
    text: Uppercase Faded Subtitle
    modifier: uppercase-faded
#}
<h3 class="subtitle--{{modifier}}" >{{text}}</h3>
