//subtitle-specific styles. For general typography
//edit _typography.scss
.subtitle--standard, .subtitle--uppercase, .subtitle--faded, .subtitle--uppercase-faded {
  letter-spacing: .05em;
  font-weight: 300;
  font-family: 'Roboto Mono';
}
